@inherits LayoutComponentBase

<PageTitle>BlazorDemoApp.BlazorServer2</PageTitle>

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <div class="page">
                <div class="sidebar">
                    <AdminNavMenu />
                </div>

                <main>
                    <div class="top-row px-4">
                        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
                    </div>

                    <article class="content px-4">
                        @Body
                    </article>
                </main>
            </div>
        </Authorized>
        <NotAuthorized>
            <!-- Content for unauthorized users -->
            <div class="page">
                <main>
                    <article class="content px-4">
                        <p>Access denied. Please log in to access this content.</p>
                    </article>
                </main>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>
