@page "/admin"
@layout BlazorApp2.Shared.AdminLayout.AdminLayout
[authorize]

@using BlazorDemoApp.Shared.Classes.DTO
@using BlazorDemoApp.Shared
@using System.Text.Json


https://www.youtube.com/watch?v=iq2btD9WufI&t=52s&ab_channel=CodingDroplets


<PageTitle>Admin</PageTitle>

<h3>List_Gov  33 </h3>

<h3>Admin</h3>

@code {

}
