@page "/login"
@using BlazorDemoApp.Shared.Classes.BaseClass;
@inject BlazorDemoApp.BlazorServer2.Services.AuthService  AuthService
@inject NavigationManager NavigationManager

<h3>Login</h3>

<EditForm Model="loginRequest" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Username: </label>
        <InputText @bind-Value="loginRequest.UserName" />
    </div>
    <div>
        <label>Password: </label>
        <InputText @bind-Value="loginRequest.UserPass" type="password" />
    </div>
    <button type="submit">Login</button>
</EditForm>

@code {
    private Base0_MyAppUser_Login loginRequest = new Base0_MyAppUser_Login();
    //[Parameter] public string ReturnUrl { get; set; } = "/";

    private async Task HandleLogin()
    {
        if (await AuthService.LoginAsync(loginRequest))
        {
            NavigationManager.NavigateTo("/");
        }
        else
        {
            // Handle login failure
            Console.Error.WriteLine("Login failed");
        }
    }
}
